@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Cinzel&display=swap');

body {
    font-family: 'Merriweather', serif;
    color: #ddd;
    background: url('https://github.com/ab1021u/Simple-Website/raw/main/RS%20Image1.webp') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

header, section, footer {
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    border: 1px solid gold;
    box-shadow: 0 0 20px #ffd700;
    transition: transform 0.3s ease-in-out;
}

header h1, h2 {
    font-family: 'Cinzel', serif;
    color: gold;
    text-shadow: 2px 2px 4px #000;
}

nav {
    background: transparent;
    text-align: center;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: lightblue;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(68, 68, 68, 0.8);
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    color: gold;
    background-color: rgba(68, 68, 68, 1);
    cursor: pointer;
}

a {
    color: lightgreen;
    transition: color 0.3s;
}

a:hover {
    color: gold;
}

/* Keyframes for fading in */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Keyframes for scaling up */
@keyframes scaleUp {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
}

/* Applying animations to gallery images */
img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out, scaleUp 0.5s ease-in-out;
}

/* Applying fade-in animation to sections */
section {
    animation: fadeIn 2s;
}

footer {
    font-size: 14px;
    text-align: center;
    color: #aaa;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px;
    border-radius: 8px;
}
